@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --orenge: #ff3c00;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .2rem solid rgba(0, 0, 0, 0.1);
    --outline: .1rem solid rgba(0, 0, 0, 0.1);
    --outline-hover: .2rem var(--black);
}
 
* {
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s fx;

}

*::selection {
    background: var(--orenge);
    color: #f3f3f3;
}

/* start */
section {
    padding: 3rem 7%;
    justify-content: space-between;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: url(/assets/images/home-bg.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 0rem;
}

.home .image {
    flex: 1 1 40rem;
}

.home .image img {
    height: 40rem;
    padding-top: 5rem;

}

.home .content {
    /* padding: 0rem 3rem; */
    flex: 1 1 40rem;
    /* text-align: center; */
}

.home .content span {
    font-size: 2rem;
    color: var(--light-color);
    font-weight: 500;
}

.home .content h3 {
    font-size: 5rem;
    color: var(--black);
}










/* end */

/* button style start */
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.8rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: #fff; 
    cursor: pointer;
    text-decoration: none;
    background: var(--orenge);
    text-align: center;
}

.btn:hover {
    background: var(--black);
    color: #fff;
}

/* button style end */




/* banner section start */
.banner-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.banner-container .banner {
    flex: 1 1 40rem;
    height: 25rem;
    overflow: hidden;
    position: relative;
}

.banner-container .banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-container .banner .content {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}

.banner-container .banner .content h3 {
    font-size: 3rem;
    color: var(--black);
}

.banner-container .banner .content p {
    font-size: 2rem;
    color: #333;
}

.banner-container .banner:hover img {
    transform: scale(1.2) rotate(-5deg);
    transition: 2s;
}

/* banner section end */

/* features s */
.features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.features .box-container .box {
    padding: 3rem 2rem;
    background: #fff;
    text-align: center;
    box-shadow: var(--box-shadow);

}

.features .box-container .box:hover {
    border:solid .2rem var(--black);
    transition: 1s;

}

.features .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
    /* width: 15rem; */
}

.features .box-container .box h3 {
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}

.features .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}

/* features e */



/* product start */
.products .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box {
    position: relative;
    background: #f3f3f3;
    text-align: center;
    overflow: hidden;
}

.products .box-container .box:hover .icons {
    top: 0;
}

.products .box-container .box .icons {
    position: absolute;
    top: -105%;
    left: 0;
    height: 30rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(243, 243, 243, 0.8);
    gap: 1rem;
}


.products .box-container .box .icons a {
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: white;
    box-shadow: var(--light-color);
    color: var(--black);
}

.products .box-container .box .icons a:hover {
    background: #ff3c00;
    color: #fff;
    transition: .2s;
}

.products .box-container .box .image {
    height: 30rem;
    width: 100%;
    overflow: hidden;
}

.products .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.products .box-container .box .content {
    padding: 1.5rem;
}

.products .box-container .box .content h3 {
    font-size: 2rem;
    color: #130f40;
}

.products .box-container .box .content .price {
    font-size: 2rem;
    color: #130f40;
    padding: 1rem 0;
}

.products .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: #ff3c00;
}


.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    padding: 1.2rem 0;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    color: #130f40;
}

.title span {
    color: #ff3c00;
    padding-left: .7rem;
}

.title a {
    margin-left: auto;
    color: #666;
    font-size: 1.5rem;
}

.title a:hover {
    color: #ff3c00;
}

/* product end */
/* review start */
.review {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box {
    padding: 2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

.review .box .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.review .box .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.review .box .user h3 {
    font-size: 2.2rem;
    color: #130f40;
}

.review .box .user span {
    font-size: 1.4rem;
    color: #ff3c00;
}

.review .box p {
    font-size: 1.4rem;
    color: #666;
    line-height: 2;
}


.rev .hed {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    padding: 1.2rem 0;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    color: #130f40;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.rev .hed span {
    color: #ff3c00;
    padding-left: .7rem;
} 



/* review end */










/* responsive start */

@media(max-width:1200px) {

    /* full pc view */
    html {
        font-size: 55%;
    }
}

@media(max-width:991px) {

    /* mini pc view */
    section {
        padding: 2rem;

    }

    .home .image img {
        align-items: center;
    }
}

@media(max-width:768px) {


    .home .content {
        text-align: center;
    }

    .home .image img {
        align-items: center;
    }

    .home .content h3 {
        /* tab view */
        font-size: 4rem;
    }
}

@media(max-width:450px) {
    .home .image img {
        align-items: center;
    }

    .home .content {
        padding-top: 2rem;
    }

    .home .content span {
        font-size: 2.5rem;
    }

}

/* @media(max-width:300px) {} */

/* responsive end */


/* 
@media(max-width:1200px){}
@media(max-width:991px){}
@media(max-width:768px){}
@media(max-width:450px){}
@media(max-width:300px){}
*/








